body {
	line-height: 1.9 !important; 
}
button .material-icons {
	margin-top: 10px;
}

md-card > img, md-card > :not(md-card-content) img {
	height: auto !important;
}


img.responsive {
	max-width: 100%;
	height: auto;
}