<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ngNotes</title>
	<link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="ngNotes" ng-controller="notesCtrl" ng-init="showEdit = false">
	
	<md-toolbar>
		<div class="md-toolbar-tools">
			<p><em>Note Go</em></p>
			<md-button ng-click="openSidebar()">
				<md-icon class="mdi mdi-plus-circle"></md-icon>
				Add Note
			</md-button>
		</div>
	</md-toolbar>

	<md-sidenav class="md-sidenav-left md-whiteframe-z3" md-component-id="left"
	>
		<md-toolbar>
			<h1 class="md-toolbar-tools">Add a Classifieds</h1>
		</md-toolbar>

		<md-content layout-padding>
			<form>
				<md-input-container>
					<label for="title">Title</label>
					<input type="text" id="title"
								md-autofocus  ng-model="note.title">
				</md-input-container>
				<md-input-container>
					<label for="description">Description</label>
					<textarea type="text" id="description" ng-model="note.description"></textarea>
				</md-input-container>
				<md-input-container>
					<label for="image">Image Link</label>
					<input type="text" id="image" ng-model="note.image">
				</md-input-container>
				<md-button class="md-primary" ng-click="saveNote(note)">
					Save
				</md-button>
				<md-button class="warn" ng-click="closeSidebar()">
					Cancel
				</md-button>

				<pre> {{  note | json }}</pre>
			</form>
		</md-content>
	</md-sidenav>

	<md-content class="md-padding" layout="row" layout-wrap>
		<md-card ng-repeat="note in notes | orderBy: '-posted'" flex="30">
			<img ng-src="{{note.image}}" alt="" class="responsive">
			<md-card-content>
				<div class="note-info">
					<h2 class="md-title">{{ note.title }}</h2>
					<h4>{{ note.posted | date }}</h4>
					<p>{{note.description}}</p>
				</div>
				
				<div layout="row">
					<md-button ng-click="showEdit = !showEdit">Edit Note</md-button>
				</div>

				<div class="edit-note" ng-if="showEdit">
					<h3>Edit</h3>
					<div layout="row">
						<md-button class="md-secondary">Edit</md-button>
						<md-button class="md-warn">Delete</md-button>
					</div>
				</div>

			</md-card-content>
		</md-card>
	</md-content>

	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-animate/angular-animate.js"></script>
	<script src="node_modules/angular-aria/angular-aria.js"></script>
	<script src="node_modules/angular-material/angular-material.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/components/notes.ctr.js"></script>
	<script src="scripts/components/notes.fac.js"></script>
</body>
</html>